@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Roboto:wght@400;500&display=swap');

.gallery {
  width: 100%;
}

.gallery-container {
  align-items: center;
  display: flex;
  min-height: 400px;
  margin: 8rem auto 4rem auto;
  width: 100%;
  position: relative;
}


.carousel-img{
  margin: auto;
  width: auto;
  height: 50%;
}

.carousel-heading{
  font-family: Josefin Sans;
font-style: normal;
font-weight: normal;
text-align: center;

}

.carousel-content{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
text-align: center;
color: rgba(19, 30, 45, 0.6);
}

.gallery-item {
  height: 22rem;
  opacity: .4;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 16rem;
  z-index: 0;
  background: #FFFFFF;
  border: 0.1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 16px 40px rgba(191, 191, 191, 0.2);
  border-radius: 25px;
}

.gallery-item>.carousel-img{
  padding: 1.5rem;
}
.gallery-item>.carousel-heading{
  font-size: 0.75rem;
}
.gallery-item>.carousel-content{
  font-size: 00.625rem;
  padding: 1rem;
}

.gallery-item.gallery-item-selected {
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 23rem;
  height: 30rem;
  background: #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 16px 40px rgba(191, 191, 191, 0.2);
  border-radius: 25px;
}

.gallery-item.gallery-item-selected>.carousel-img{
  padding: 3rem ;
}

.gallery-item.gallery-item-selected>.carousel-heading{
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}
.gallery-item.gallery-item-selected>.carousel-content{
  font-size: 0.875rem;
line-height: 1.5rem;
letter-spacing: 0.25px;
padding: 1rem 2rem;
}

.gallery-item.gallery-item-previous,
.gallery-item.gallery-item-next {
  height: 25rem;
  opacity: 0.8;
  width: 18rem;
  z-index: 1;
  background: #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 16px 40px rgba(191, 191, 191, 0.2);
border-radius: 25px;
}

.gallery-item.gallery-item-previous {
  left: 30%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-next {
  left: 70%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-first {
  left: 15%;
  transform: translateX(-50%);
}

.gallery-item.gallery-item-last {
  left: 85%;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.gallery-controls button {
  font-family:'Roboto', sans-serif;
  border: 0;
  cursor: pointer;
  font-size: 1rem;
  margin: 0 20px;
  padding: 0 12px;
  text-transform: capitalize;
  -webkit-tap-highlight-color: transparent;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  left: -10px;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-previous:hover::before {
  left: -18px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  border: solid #000;
  border-width: 0 2px 2px 0;
  content: '';
  display: inline-block;
  height: 4px;
  padding: 2px;
  position: absolute;
  right: -10px;
  top: 65%;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 4px;
}

.gallery-controls-next:hover::before {
  right: -18px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #00B686;
}