@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  padding: 0%;
  margin: 0%;
  width: 100vw;
  overflow-x: hidden;
}


p {
  margin: 0%;
}

/* Logo */

.logo {
  width: fit-content;
  margin: 2.5rem 0 0 5vw;
  width: 10.7rem;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 3.8rem;
  height: 3.8rem;
}

.logo span {
  margin-left: 1.5rem;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
  color: #3b3b3b;
}

/* Navigation */

.navigation {
  width: fit-content;
  margin: 4.25rem 0 0 5vw;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #686e77;
}

.navigation span {
  cursor: pointer;
}

#creator {
  margin-left: 2rem;
}

.active {
  color: #131e2d;
}

.underline {
  margin-top: 0.63rem;
  margin-left: 5.6vw;
  width: 4.2rem;
  height: 2px;
  background: #131e2d;
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;

}

.switch-tab {
  transform: translateX(7.6rem);
}

/* Main Content */

.main-content {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
}



.mobile {
  align-self: center;
  margin-right: 14vw;
  width: 15.6rem;
  height: auto;
  position: relative;

}

video {
  width: 100%;
  height: 100%;
  border: 0.4rem solid #131e2d;
  border-radius: 24px;
  background: #131e2d;
}

#play {
  z-index: 5;
  opacity: 0.9;
  width: 5rem;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  cursor: pointer;
}

.onPlay {
  opacity: 0 !important;
}

video:focus {
  outline: none;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

.heading {
  margin-top: 5.75rem;
  margin-left: 5vw;
}

.h1 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 3.8rem;
  line-height: 3.8rem;
  color: #131e2d;
  margin-bottom: 1.62rem;
}

.h2 {

  display: block;
  overflow: hidden;
  position: relative;
  height: 2.2rem;
}

/* Form-container */

.form-container {
  margin: 4.37rem 0 0 5vw;
}

form {
  display: inline-flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 9px 46px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  height: 3.1rem;
}

input {
  border-radius: 25px 0 0 25px;
  width: 14.9rem;
  height: 3.1rem;
  padding-left: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  color: #131e2d;
  border: none;
  background-color: transparent !important;
  caret-color: #131e2d;
}

input:focus {
  outline: none;
}

.btn {
  background: linear-gradient(135deg, #1de9b6 0%, #03a9f4 96.83%);
  border-radius: 25px;
  width: 7.5rem;
  height: 3.1rem;
  border: none;
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: normal;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #ffffff;
  transition: transform 0.2s ease-in-out;
  -webkit-transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.95);
  filter: brightness(90%);
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #131e2d;
  opacity: 0.5;
}



/*Vertical Sliding*/



.slider-wrapper {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #686E77;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slider {
  height: 50px;
  padding-left: 1.6rem;
  overflow: hidden;
}

.slider div {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(135deg, #1DE9B6 0%, #03A9F4 96.83%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  overflow-y: visible;
  height: 50px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.slider-text1 {
  animation: slide 7s linear infinite;
  -webkit-animation: slide 7s linear infinite;
}


@keyframes slide {
  0% {
    margin-top: -300px;
  }

  5% {
    margin-top: -200px;
  }

  33% {
    margin-top: -200px;
  }

  38% {
    margin-top: -100px;
  }

  66% {
    margin-top: -100px;
  }

  71% {
    margin-top: 0px;
  }

  100% {
    margin-top: 0px;
  }
}


@keyframes slide2 {
  0% {
    margin-top: -150px;
  }

  5% {
    margin-top: -100px;
  }

  33% {
    margin-top: -100px;
  }

  38% {
    margin-top: -50px;
  }

  66% {
    margin-top: -50px;
  }

  71% {
    margin-top: 0px;
  }

  100% {
    margin-top: 0px;
  }
}


/* Supported by */

.h3 {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.5px;
  color: #131E2D;
  margin-left: 5vw;
  margin-top: 6rem;
}

.swiper-container {
  margin-top: 2.9rem;
  padding: 0.5rem 5vw;
}

.swiper-slide {
  opacity: 0.5;
  padding: 2rem 1.5rem;
  width: fit-content;
  width: -moz-max-content;
  width: -webkit-max-content;
  height: 11.5rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08), 0px 4px 5px rgba(0, 0, 0, 0.08), 0px 1px 10px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  margin-right: 3.5rem;
  display: flex;
  align-items: center
}

.swiper-img1 {
  width: 3.4rem;
  height: auto;
  margin: 0 1.4rem;
}

.swiper-img2 {
  width: 12rem;
  height: auto;
  margin: 0 0.6rem;
}

.swiper-slide p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  letter-spacing: 0.25px;
  color: #131E2D;
  width: 300px;

}

/* footer */

.footer {
  margin-top: 4rem;
  padding: 0% 5vw;
  background: #131e2d;
  min-height: 4.6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: normal;
  letter-spacing: 0.15px;
  color: #FFFFFF;
}


.footer-text,
.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 3.5rem;
}

.footer a {
  text-decoration: none;
  color: #FFFFFF;

}

.footer-links img {
  width: 1.2rem;
  height: 1.2rem;
}


.modal {
  max-width: 90vw !important;
  max-height: 90vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.close img {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close {
  width: 1.5rem;
  height: auto;
}

.modal-content {
  padding: 1rem;
  font-size: 0.9rem;

}

.modal-content p {
  margin: 1rem 0;
}

.blocker {
  z-index: 10 !important;
}


.modal a.close-modal {
  display: none !important;

}


/* network */
.network-container {
  z-index: -1;
  position: absolute;
  overflow: visible;
  top: -34.5vw;
  right: -30vw;
  width: fit-content;
  height: fit-content;
}

.network {
  background: url(../assets/network-bg.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 66vw;
  height: 72vw;
  overflow: visible;
  opacity: 0.3;
}

.network-icons1 {
  -webkit-animation: rotate-1 50s infinite;
  animation: rotate-1 50s infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  position: absolute;
  top: 14.5vw;
  left: 11.5vw;
  width: 43.5vw;
  height: auto;
}


.network-icons2 {
  -webkit-animation: rotate-2 55s infinite;
  animation: rotate-2 55s infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  position: absolute;
  top: 6.3vw;
  left: 3vw;
  width: 60vw;
  height: auto;
}

.network-icons3 {
  -webkit-animation: rotate-3 60s infinite;
  animation: rotate-3 60s infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  position: absolute;
  top: -4vw;
  left: -7vw;
  width: 80vw;
  height: auto;
}

/* network animation */

@keyframes rotate-1 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(100deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


@keyframes rotate-2 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-120deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate-3 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(80deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


/* lets make our website Responsive */

@media only screen and (min-width: 768px) and (orientation: landscape) {

  .main-content {
    height: 100vh;
  }

  .heading {
    margin-top: 14.7vh;
  }

  .h1 {
    margin-bottom: 4.4vh;
  }

  .form-container {
    margin-top: 11.2vh;
  }

}


@media only screen and (orientation: portrait) {
  .main-content {
    flex-direction: column;
    min-height: auto;
  }

  .heading {
    margin-top: 4rem;
  }

  .h1 {
    font-size: 3.8rem;
    line-height: 4rem;
  }

  .form-container {
    margin-top: 3.8rem;
  }

  .h3 {
    margin-top: 12rem;
  }

  .mobile {
    margin: 8rem auto !important;
    margin-bottom: 0%;
  }

  .footer-text,
  .footer-links {
    gap: 1.8rem !important;
  }

  .network-container {
    top: 510px;
    left: 50%;
    transform: translateX(-50%);

  }

  .network {
    width: 620px;
    height: 720px;
    opacity: 0.2;

  }

  .network-icons1 {
    width: 420px;
    top: 150px;
    left: 100px;
  }

  .network-icons2 {
    width: 570px;
    top: 82px;
    left: 22px;
  }

  .network-icons3 {
    width: 750px;
    top: -16px;
    left: -70px;
  }
}


@media only screen and (min-width: 1920px) {
  html {
    font-size: 150%;
  }

  form,
  input,
  .btn {
    border-radius: 1.56rem;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }

  .h1 {
    font-size: 3rem;
  }

  .mobile {
    margin-top: 4rem;
    margin-right: 5vw;
    margin-left: 1rem;
  }

  .swiper-slide p {
    width: 250px;
  }

  .footer-text,
  .footer-links {
    gap: 2.5rem;
  }

  .underline {
    margin-left: 6.2vw;
  }

}

/* Mobile-view */

@media (max-width: 480px) {
  .main-content {
    flex-direction: column;
    min-height: auto;
  }

  .logo {
    margin-left: 16px;
  }

  .logo img {
    width: 40px;
    height: 40px;
  }

  .logo span {
    font-size: 24px;
    margin-left: 16px;
  }

  .navigation {
    width: auto;
    margin: 40px 0 0 0;
    padding: 0 16px;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
  }

  #creator {
    margin-left: 0;
  }

  .underline {
    margin-top: 16px;
    width: 46%;
    margin-left: 16px;
    margin-right: 1rem
  }

  .switch-tab {
    transform: translateX(98%);
  }

  .heading {
    width: 100%;
    padding: 0% 16px;
    margin-left: 0%;
    margin-top: 56px;
  }

  .h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .slider {
    height: 25px;
    padding-top: 0%;
  }

  .slider-wrapper {
    font-size: 20px;
    margin-top: 25px;
  }

  .slider div {
    font-size: 20px;
    height: 25px;
    margin-bottom: 25px;

  }

  .slider-text1 {
    animation: slide2 7s linear infinite;
    -webkit-animation: slide2 7s linear infinite;

  }

  .form-container {
    margin: 25px 0 0 0;
    padding: 0% 16px;
  }


  form {
    width: 100%;
    height: 50px;
  }

  input {
    width: 70%;
    height: 50px;
    font-size: 14px;
  }

  .btn {
    width: 120px;
    height: 50px;
    font-size: 14px;
  }

  .mobile {
    width: 280px;
  }

  #play {
    width: 8rem;
  }

  .h3 {
    font-size: 24px;
    line-height: 32px;
    margin-left: 16px;
    margin-top: 90px;
  }

  .swiper-container {
    margin-top: 40px;
    padding: 8px 16px;

  }

  .swiper-slide {
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }

  .swiper-slide p {
    font-size: 12px;
    line-height: 18px;
    width: 223px;
    margin-top: 24px;
  }

  .network-container {
    top: 480px;
  }

  .footer {
    font-size: 12px;
    padding: 24px 16px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .footer-text {
    margin-left: 0;
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer-links {
    width: 100%;
    padding: 0 56px;
    display: flex;
    justify-content: space-evenly;
  }

  .footer-text span {
    margin-right: 0;
  }

  .footer-links img {
    margin-right: 0;
  }
}